src/main/mule/junkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0b1cf53d-eccb-4ba8-b528-5a42676e9bde" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="junkinsFlow" doc:id="3325b9b3-5691-4596-bb97-72c32da5bd09" >
		<http:listener doc:name="Listener" doc:id="664e1854-fe92-4985-87e9-ba73c44340e3" config-ref="HTTP_Listener_config" path="/junkins"/>
		<logger level="INFO" doc:name="Logger" doc:id="7bc2d2f4-76a3-421e-b31a-4538af10196c" message="Request Recieved"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="37f30362-2675-41c7-9fdb-52e403d0e90b" />
	</flow>
</mule>
